html,
body {
  margin: 0;
  padding: 0;
  background-color: #f7f2eb;
}
canvas {
  display: block;
  position: fixed;
  /* left: calc(50vw - 250px); */
  /* top: 300px; */
  /* transform: scale(1.5); */
}

#slider-cont {
  border: black 1px solid;
  position: fixed;
  padding: 10px;
  top: 50px;
  left: 20px;
  width: 180px;
  display: none;
  flex-direction: column;
}

.cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#angles {
  display: none;
}

.ble-button {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 999;
}
