html,
body {
  margin: 0;
  padding: 0;
  /* background-color: #f7f2eb; */
}
canvas {
  display: block;
  position: fixed;
  left: calc(50vw - 250px);
}

#slider-cont {
  border: black 1px solid;
  position: fixed;
  padding: 10px;
  top: 50px;
  left: 20px;
  width: 180px;
  display: flex;
  flex-direction: column;
}

.cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
